.App {
  text-align: center;
}

.searchbar {
  display: flex;
  position: absolute;
  top: 50%;
  left: 38%;
}

.header {
  position: absolute;
  top: 20%;
  left: 33%;
}

.navbar {
  display: flex;
  position: absolute;
  top: 1%;
  right: 1%;
}

.quick-features {
  padding-top: 50px;
  padding-bottom: 50px;
}
